.cosmi-signature-header img{
    height: 40px;
}

.cosmi-signature-footer img{
    height: 40px;
}

.footer{
    max-width: 1640px;
    width: 90%;
    margin: auto;
    
}

.footer .footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


link-section {
    margin: 2px;
    padding: 2px;
}

.link-section h2 {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.link-section a {
    display: block;
    padding: 4px 0;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 400;
    color: #314649;
    
}
.link-section a:hover {
    color: black;
}







