@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Light mode remains unchanged */
  @apply bg-white text-gray-800;
  
  /* Pure black dark theme */
  @apply dark:bg-black dark:text-slate-400;

  @apply transition-colors duration-300;
}

/* The "Aurora" effect for our luxury dark theme */
@layer utilities {
  .dark::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(ellipse 80% 50% at 50% -20%,rgba(255,255,255,0.05),hsla(0,0%,100%,0));
    pointer-events: none;
    z-index: -1;
    opacity: 0.3;
  }
} 

@media (max-width: 600px) {
  article.prose {
    padding-left: 1rem;
    padding-right: 1rem;
  }
} 

/* Loader Animation */
.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset var(--loader-color, #fff);
  animation: l4 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
}
@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
} 